proxmox_url      = "https://192.168.1.10:8006/api2/json"
proxmox_username = "root@pam"
proxmox_password = "your-root-password"
proxmox_node     = "pve"
seed_vm_id       = 8998
template_id      = 9001
template_name    = "debian-12-cloud"
storage          = "local-lvm"
bridge           = "vmbr0"